@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    padding-block: 100px;
    @include flex(column, center, center);
    >div {
        @include flex($gap: 64px);
    }
}

.contact-info {
    width: 100%;
    @include flex(column, $gap: 24px);
    flex: 1;
    .subtitle {
        margin: 0;
    }
}

.contact-form {
    width: 100%;
    flex: 1;
    border-top: 1px solid var(--color-main);
    div {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .content > div {
        @include flex(column, center, center, 64px)
    }
}