<section id="contact-section">
    <div class="content-limit">
        <div class="content">
            <div>
                <div class="contact-info">
                    <p class="subtitle">{{"CONTACT.SUBTITLE" | translate}}</p>
                    <h3 class="categorie">{{"CONTACT.TITLE" | translate}}</h3>
                    <p>
                        <span class="subtitle"><b>{{"CONTACT.P_BOLD" | translate}}</b></span>
                    </p>
                    <p>{{"CONTACT.P_1" | translate}}</p>
                    <p>
                        <span>{{"CONTACT.P_2" | translate}}</span>
                        <span style="color: var(--color-main)">{{"CONTACT.SPAN" | translate}}</span>
                    </p>
                </div>
                <div class="contact-form">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div class="input-wrapper">
                            <label for="name">{{"CONTACT.FORM.LABEL_NAME" | translate}}</label>
                            <input 
                                [(ngModel)]="contactData.name" 
                                type="text" 
                                id="name" 
                                name="name"
                                #nameCtrl="ngModel"
                                placeholder='{{"CONTACT.FORM.PLACEHOLDER_NAME" | translate}}' 
                                autocomplete="off" 
                                required
                                pattern=".*\S.*">
                            @if (nameCtrl.invalid && hasSubmitted) {
                                <span class="error-message">{{"CONTACT.FORM.REQUIRED_NAME" | translate}}</span>
                            }
                        </div>
                        <div class="input-wrapper">
                            <label for="email">{{"CONTACT.FORM.LABEL_MAIL" | translate}}</label>
                            <input
                                [(ngModel)]="contactData.email"
                                type="email" 
                                id="email" 
                                name="email"
                                #emailCtrl="ngModel"
                                placeholder='{{"CONTACT.FORM.PLACEHOLDER_MAIL" | translate}}'
                                autocomplete="off"
                                required
                                pattern="^[a-zA-Z0-9._%+\-]+@([a-zA-Z0-9\-]+\.)+[a-zA-Z]{2,}$">
                            @if (emailCtrl.errors?.['required'] && hasSubmitted) {
                                <span class="error-message">{{"CONTACT.FORM.REQUIRED_MAIL" | translate}}</span>
                            }
                            @else if (emailCtrl.errors?.['pattern'] && hasSubmitted) {
                                <span class="error-message">{{"CONTACT.FORM.VALID_MAIL" | translate}}</span>
                            }
                        </div>
                        <div class="input-wrapper">
                            <label for="message">{{"CONTACT.FORM.LABEL_MESSAGE" | translate}}</label>
                            <input 
                                [(ngModel)]="contactData.message"
                                type="text" 
                                id="message" 
                                name="message" 
                                #messageCtrl="ngModel"
                                placeholder='{{"CONTACT.FORM.PLACEHOLDER_MESSAGE" | translate}}'
                                autocomplete="off"
                                required
                                pattern=".*\S.*">
                            @if (messageCtrl.invalid && hasSubmitted) {
                                <span class="error-message">{{"CONTACT.FORM.REQUIRED_MESSAGE" | translate}}</span>
                            }
                        </div>
                        <div class="checkbox-container">
                            <div class="checkbox">
                                <div class="checkbox-wrapper">
                                    <label>
                                        <input type="checkbox" name="privacyAccepted" [(ngModel)]="privacyAccepted">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
                                                <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                                            </svg>
                                        </div>
                                    </label>
                                </div>
                                
                                <span>
                                    {{"CONTACT.FORM.LABEL_CHECKBOX_1" | translate}}
                                    <a style="color: var(--color-main); text-decoration: none;" routerLink="./privacy-policy">{{"CONTACT.FORM.LINK_CHECKBOX" | translate}}</a>
                                    {{"CONTACT.FORM.LABEL_CHECKBOX_2" | translate}}
                                </span>
                            </div>

                            @if (hasSubmitted && !privacyAccepted) {
                                <span class="error-message">{{"CONTACT.FORM.REQUIRED_CHECKBOX" | translate}}</span>
                            }
                        </div>
                        
                        <div class="submit-container">
                            @if (submitted) {
                                <span style="color: #6ee468; font-size: 24px;">Danke für deine Nachricht</span>
                            } @else {
                                <app-button type="submit" [disabled]="!privacyAccepted">{{"CONTACT.FORM.BUTTON_SUBMIT" | translate}}</app-button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>