@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    padding-block: 100px;
    @include flex(column, center, center);
    >div {
        @include flex($gap: 64px);
    }
}

.contact-info {
    width: 100%;
    @include flex(column, $gap: 24px);
    flex: 1;
    .subtitle {
        margin: 0;
    }
}

.contact-form {
    width: 100%;
    flex: 1;
    border-top: 1px solid var(--color-main);
    .submit-container {
        display: flex;
        justify-content: center;
    }
}

.input-wrapper {
    width: 100%;
    min-height: 160px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-main);
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding-block: 16px;
    outline: none;
    border: none;
    background: none;
    font-size: 20px;
    color: var(--text-base);
    &::placeholder {
        color: var(--color-disabled);
    }
}

label {
    width: 100%;
    text-align: start;
    font-size: 32px;
    color: var(--color-main);
    cursor: pointer;
}

.checkbox-container {
    min-height: 100px;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.checkbox {
    width: 100%;
    padding-block: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: var(--text-base);
}

.checkbox-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid var(--color-main);
    transition: all 125ms ease-in-out;
    &:hover {
        background-color: var(--color-secondary-active);
    }
    label {
        width: 100%;
        height: 100%;
        font-size: 18px;
        cursor: pointer;
        input {
            display: none;
        }
        input:checked ~ .icon-wrapper>svg {
            opacity: 1;
        }
        .icon-wrapper {
            width: 100%;
            height: 100%;
            color: var(--color-main);
            svg {
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }
    }
    >span {text-align: start;}
}

.error-message {
    color: var(--color-error);
}

@media (max-width: 1200px) {
    .content > div {
        @include flex(column, center, center, 64px)
    }
}

@media (max-width: 576px) {
    .input-wrapper {
        min-height: 120px;
        padding: 16px;
    }
    label {font-size: 24px}
    input[type="text"],
    input[type="email"] {
        padding-block: 12px;
        font-size: 16px;
    }

    .checkbox-container {
        min-height: 80px;
    }

    .checkbox {
        padding-block: 8px;
        font-size: 14px;
    }
    .checkbox-wrapper {
        width: 20px;
        height: 20px;
        label {font-size: 14px}
    }
}