@use '../../../styles.scss' as *;

aside {
    width: 150px;
    height: 100%;
    position: fixed;
    z-index: 10;
    padding-block: 24px;
    background-color: var(--color-main);
    box-shadow: inset -4px 0 6px 4px rgba(0, 0, 0, 0.2), 8px 0px 24px 12px rgba(0, 0, 0, 0.2), 24px 0px 40px 24px rgba(0, 0, 0, 0.15);
    @include flex($dir: column);
    >nav {
        width: 100%;
        height: 100%;
        @include flex($dir: column, $ai: center, $jc: space-evenly);
        >a {
            writing-mode: sideways-lr;
            text-decoration: none;
            font-size: 32px;
            line-height: 36px;
            color: var(--text-dark);
            transition: color 125ms ease-in-out;
            &:hover {
                color: var(--text-base);
            }
        }
    }
    >img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
}

.active {
    color: var(--color-main) !important;
    -webkit-text-stroke: 1px var(--text-dark);
}