<!-- <header>
    <nav>
        <div class="socials-container">
            <div class="link-icon">
                <img class="icon-default" src="/icons/github.svg" alt="Github">
                <img class="icon-hover" src="/icons/github-hover.svg" alt="Github">
                <a href="https://github.com/AlexPutilin" target="_blank"></a>
            </div>
            <div class="link-icon">
                <img class="icon-default" src="/icons/linkedIn.svg" alt="LinkedIn">
                <img class="icon-hover" src="/icons/linkedIn-hover.svg" alt="LinkedIn">
                <a href="https://www.linkedin.com/in/alexander-putilin-6062b7316/" target="_blank"></a>
            </div>
            <div class="link-icon">
                <img class="icon-default" src="/icons/mail.svg" alt="Mail">
                <img class="icon-hover" src="/icons/mail-hover.svg" alt="Mail">
                <a href=""></a>
            </div>
        </div>
        <div class="lang-switch">
            <button>DE</button>
            <span>|</span>
            <button>EN</button>
        </div>
    </nav>
</header> -->


<header>
    <div class="content-limit">
        <nav>
            <div class="switch-wrapper">
                <input id="DE" type="radio" name="language" checked>
                <label class="switch" for="DE">DE</label>
                <input id="EN" type="radio" name="language">
                <label class="switch" for="EN">EN</label>
                <span class="switch-checked"></span>
            </div>
            <div class="nav-link">
                <a>About me</a>
                <span></span>
            </div>
            <div class="nav-link">
                <a>Skills</a>
                <span></span>
            </div>
            <div class="nav-link">
                <a>Projects</a>
                <span></span>
            </div>
            <div class="nav-link">
                <a>Contact</a>
                <span></span>
            </div>
        </nav>
        <div class="logo">
            <span>(AP)</span>
            <div>
                <span>ALEXANDER</span>
                <span>PUTILIN</span>
            </div>
        </div>
    </div>
</header>