@use '../../styles.scss' as *;

header {
    width: 100%;
    height: 100px;
    padding-inline: min(64px, 5%);
    position: absolute;
    @include flex($jc: center);
    z-index: 100;
}

.content-limit {
    @include flex($jc: space-between, $ai: center);
    nav {@include flex($gap: 24px)}
}

.nav-link {
    @include flex(column, center, center);
    font-size: 24px;
    transform: translateY(4px);
    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--color-main);
        opacity: 0;
        transition: all 125ms ease-in-out;
    }
    a {
        color: var(--text-base);
        text-decoration: none;
        transition: color 125ms ease-in-out;
    }
    &:hover {
        a {
            color: var(--color-main);
        }
        span {
            opacity: 1;
        }
    }
}

.switch-wrapper {
    height: 40px;
    position: relative;
    @include flex();
    border-radius: 20px;
    border: 2px solid var(--color-main);
    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .switch {
        width: 50px;
        height: 100%;
        font-size: 24px;
        text-align: center;
        align-content: center;
        color: var(--color-secondary-active);
        z-index: 20;
        cursor: pointer;
        transition: color 125ms ease-in-out;
    }
    .toggle {
        width: 50px;
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 16px;
        background-color: var(--color-main);
        transition: transform 125ms ease-out;
    }
    input[value='EN']:checked ~ .toggle {
        transform: translateX(100%);
    }
    input:checked + .switch {
        color: var(--text-base);
    }
}

@media (max-width: 800px) {
    header {
        height: 80px;
        position: fixed;
        background: linear-gradient(#ffffff1e 10%, #4735044e);
        backdrop-filter: blur(8px);
        border-bottom: 1px solid #00000060;
    }
    .content-limit {
        nav {display: none}
    }
    .switch-wrapper {
        height: 32px;
        border-radius: 16px;
        .switch {
            width: 40px;
            font-size: 20px;
        }
        .toggle {
            width: 40px;
            border-radius: 12px;
        }
    }
}