@use '../../styles.scss' as *;

header {
    width: 100%;
    height: 100px;
    padding-inline: min(64px, 5%);
    position: absolute;
    // position: fixed;
    // background: linear-gradient(to bottom, rgba(36, 29, 3, 0.459),#2121217e);
    // backdrop-filter: blur(10px);
    // box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.1);
    @include flex($jc: center);
    z-index: 100;
}

.content-limit {
    @include flex($jc: space-between, $ai: center);
    nav {
        @include flex($gap: 24px);
    }
}

.logo {
    @include flex($ai: center);
    cursor: pointer;
    >span {
        writing-mode: sideways-lr;
        font-size: 32px;
        color: var(--color-main);
        font-weight: bold;
    }
    >div {
        @include flex(column);
        font-size: 24px;
        font-weight: bold;
    }
}

.nav-link {
    @include flex(column, center, center);
    font-size: 24px;
    transform: translateY(4px);
    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--color-main);
        opacity: 0;
        transition: all 125ms ease-in-out;
    }
    a {
        transition: color 125ms ease-in-out;
    }
    &:hover {
        a {
            color: var(--color-main);
        }
        span {
            opacity: 1;
        }
    }
}

.switch-wrapper {
    height: 40px;
    position: relative;
    @include flex();
    border-radius: 20px;
    border: 2px solid var(--color-main);
    input {
        display: none;
    }
    .switch {
        width: 50px;
        height: 100%;
        font-size: 24px;
        text-align: center;
        align-content: center;
        color: var(--color-secondary-active);
        z-index: 20;
        cursor: pointer;
        transition: color 125ms ease-in-out;
    }
    .switch-checked {
        width: 50px;
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 16px;
        background-color: var(--color-main);
        transition: left 125ms ease-out;
    }
    #EN:checked ~ .switch-checked {
        left: 50%;
    }
    input:checked + .switch {
        color: var(--text-base);
    }
}

@media (max-width: 800px) {
    .nav-link {display: none}
}

@media (max-width: 768px) {
    header {
        height: 80px;
    }

    .switch-wrapper {
        height: 32px;
        border-radius: 16px;
        .switch {
            width: 40px;
            font-size: 20px;
        }
        .switch-checked {
            width: 40px;
            border-radius: 12px;
        }
    }

    .logo {
        >span {font-size: 24px}
        >div {font-size: 20px}
    }
}