<footer>
    <div class="content-limit">
        <div class="company-info">
            <div class="logo">
                <span>(AP)</span>
                <div>
                    <span>ALEXANDER</span>
                    <span>PUTILIN</span>
                </div>
            </div>
            <span>Web Developer</span>
            <span>Hanover Germany</span>
        </div>
        <span class="copyright">© Alexander Putilin 2025</span>
        <nav>
            <div class="link-wrapper">
                <span></span>
                <a href="">Github</a>
            </div>
            <div class="link-wrapper">
                <span></span>
                <a href="">LinkedIn</a>
            </div>
            <div class="link-wrapper">
                <span></span>
                <a href="">Email</a>
            </div>
            <div class="link-wrapper">
                <span></span>
                <a href="">Legal Notice</a>
            </div>
        </nav>
    </div>
</footer>