@use '../../styles.scss' as *;

footer {
    width: 100%;
    padding-inline: min(64px, 5%);
    padding-bottom: 64px;
    @include flex($jc: center);
}

.content-limit {
    @include flex($ai: center, $jc: space-between);
}

.company-info {
    @include flex(column, $gap: 12px);
    >span {
        font-size: 20px;
    }
}

.copyright {
    color: var(--color-main);
    font-size: 24px;
}

nav {
    @include flex(column, $gap: 8px);
}

@media (max-width: 768px) {
    .content-limit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "left nav"
            "copyright copyright";
        row-gap: 40px;
        align-items: center;
    }

    .content-limit > div {
        grid-area: left;
    }

    .content-limit nav {
        grid-area: nav;
        justify-self: end;
    }

    .content-limit .copyright {
        grid-area: copyright;
        text-align: center;
        justify-self: center;
    }
}

@media (max-width: 476px) {
    .company-info > span {font-size: 16px}
    .copyright {font-size: 20px}
    .link-wrapper a {font-size: 16px}
}
