<footer>
    <div class="content-limit">
        <div class="company-info">
            <app-logo></app-logo>
            <span>Web Developer</span>
            <span>Hanover Germany</span>
        </div>
        <span class="copyright">© Alexander Putilin 2025</span>
        <nav>
            <app-link href="https://github.com/AlexPutilin" target="_blank">Github</app-link>
            <app-link href="https://www.linkedin.com/in/alexander-putilin-6062b7316/" target="_blank">LinkedIn</app-link>
            <app-link href="mailto: alexander.putilin@yahoo.de">Email</app-link>
            <app-link href="/legal-notice">Legal Notice</app-link>
        </nav>
    </div>
</footer>