.input-wrapper {
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid var(--color-main);
}

input {
    width: 100%;
    padding-block: 16px;
    outline: none;
    border: none;
    background: none;
    font-size: 20px;
    color: var(--text-base);
    &::placeholder {
        color: var(--color-disabled);
    }
}

label {
    font-size: 32px;
    color: var(--color-main);
    cursor: pointer;
}

@media (max-width: 576px) {
    .input-wrapper {padding: 16px}
    label {font-size: 24px}
    input {
        padding-block: 12px;
        font-size: 16px;
    }
}