@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.btn {
    --border-width: 2px;
    display: block;
    padding: 16px 28px;
    position: relative;
    font-size: 24px;
    color: var(--text-base);
    border-radius: 28px;
    border: none;
    background: transparent;
    transition: all 125ms ease-in-out;
    z-index: 0;
    overflow: hidden;
    &::before, &::after {
        content: '';
        padding: var(--border-width);
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: var(--text-base);
        z-index: -1;
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        // -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: all 125ms ease-in-out;
    }
    &:hover::before, &:hover::after {
        background: conic-gradient(from var(--angle), transparent 30%, var(--color-main), transparent);
        animation: 1.5s rotate-border linear infinite
    }
    &:disabled {
        color: var(--color-disabled);
        cursor: default;
        &::before, &::after {
            background: var(--color-disabled);
        }
    }
}

.btn a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes rotate-border {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: 20px;
        padding: 12px 24px;
    }
}

@media (max-width: 476px) {
    .btn {
        font-size: 16px;
        padding: 8px 12px;
    }
}