@use '../../styles.scss' as *;

aside {
    position: fixed;
    width: 150px;
    height: 100%;
    padding-block: 24px;
    background-color: var(--color-main);
    box-shadow: inset -4px 0 6px 4px rgba(0, 0, 0, 0.2);
    @include flex($dir: column);
    >nav {
        width: 100%;
        height: 100%;
        @include flex($dir: column, $ai: center, $jc: space-evenly);
        >a {
            writing-mode: sideways-lr;
            text-decoration: none;
            font-size: 32px;
            color: var(--text-dark);
        }
    }
    >img {
        width: 100%;
        height: auto;
    }
}

