.input-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: var(--text-base);
}

.checkbox-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid var(--color-main);
    transition: all 125ms ease-in-out;
    &:hover {
        background-color: var(--color-secondary-active);
    }
    label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        input {
            display: none;
        }
        input:checked ~ .icon-wrapper>svg {
            opacity: 1;
        }
        .icon-wrapper {
            width: 100%;
            height: 100%;
            color: var(--color-main);
            svg {
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }
    }
}

@media (max-width: 576px) {
    .input-wrapper {font-size: 14px}
    .checkbox-wrapper {
        width: 20px;
        height: 20px;
    }
}