@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 800;
    font-style: normal;
    font-optical-sizing: auto;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 800;
    font-style: italic;
    font-optical-sizing: auto;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-display: swap;
}
