@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

.quantico-regular {
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quantico-bold {
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.quantico-regular-italic {
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.quantico-bold-italic {
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
    font-style: italic;
}
