<nav>
    <div class="socials-container">
        <div class="link-icon">
            <img class="icon-default" src="/icons/github.svg" alt="Github">
            <img class="icon-hover" src="/icons/github-hover.svg" alt="Github">
            <a hidden href=""></a>
        </div>
        <div class="link-icon">
            <img class="icon-default" src="/icons/linkedIn.svg" alt="LinkedIn">
            <img class="icon-hover" src="/icons/linkedIn-hover.svg" alt="LinkedIn">
            <a hidden href=""></a>
        </div>
        <div class="link-icon">
            <img class="icon-default" src="/icons/mail.svg" alt="Mail">
            <img class="icon-hover" src="/icons/mail-hover.svg" alt="Mail">
            <a hidden href=""></a>
        </div>
    </div>
    <div class="lang-switch">
        <button>DE</button>
        <span>|</span>
        <button>EN</button>
    </div>
</nav>