@use '../../styles.scss' as *;

section {
    @include flex($ai: end);
    background: linear-gradient(to right, #2b2b2b, #1b1b1b, var(--bg-base));
    >div {
        max-width: 1280px;
        @include flex($gap: 40px);
        >div {
            @include flex(column, end, $gap: 40px);
            >div {
                width: 100%;
                @include flex($gap: 12px);
                flex-wrap: wrap;
            }
        }
    }
}

h2 {
    font-size: 72px;
    color: transparent;
    writing-mode: sideways-lr;
    -webkit-text-stroke: 3px var(--color-main);
}

.skill-box {
    width: 100px;
    height: 100px;
    @include flex(column, $ai: center);
    flex-shrink: 0;
    color: var(--text-base);
    transition: color 125ms ease-in-out;
    cursor: pointer;
    div {
        width: 64px;
        height: 64px;
        transition: all 125ms ease-in-out;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    span {
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        font-size: 18px;
        
    }
    &:hover {
        color: var(--color-main);
        div {
            transform: scale(1.08);
        }
        svg {
            filter: drop-shadow(0px 0px 12px var(--bg-card));
        }   
    }
}