@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;
    margin-bottom: 160px;
    @include flex($jc: space-between);
    >:nth-child(1) {
        @include flex(column);
        >p {
            margin-bottom: 24px;
            font-size: 32px;
            color: var(--color-main);
        }
    }
}

.skill-set {
    width: 100%;
    max-width: 640px;
    padding: 24px;
    @include flex(column, $gap: 32px);
    flex-shrink: 0;
    border-radius: 32px;
    border: 2px solid var(--color-main);
    background-color: var(--color-secondary-passive);
    transition: all 125ms ease-in-out;
    :last-child {
        margin-top: 24px;
    }
}

.technologies {
    width: 100%;
    max-width: 640px;
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
    justify-items: center;
    align-items: center;
    gap: 24px;
}

// .infobox {
//     max-width: 280px;
//     padding: 8px;
//     position: relative;
//     @include flex(column, center, $gap: 16px);
//     border-radius: 16px;
//     border: 2px solid #ffffff;
//     background-color: #ffffff;
//     opacity: 0;
//     transition: opacity 125ms ease-in-out;
//     p {
//         color: var(--text-dark);
//         text-align: center;
//         font-size: 20px;
//     }
//     >div {
//         @include flex();
//         flex: 1;
//         div {
//             width: 80px;
//             height: 80px;
//             @include flex(column, center);
//             color: var(--text-dark);
//             img {
//                 width: auto;
//                 height: 48px;
//                 transition: all 125ms ease-in-out;
//             }
//             span {
//                 width: 100%;
//                 height: 100%;
//                 text-align: center;
//                 align-content: center;
//                 font-size: 16px;
//             }
//         }
//     }
// }

// .infobox::after {
//     content: " ";
//     position: absolute;
//     top: 0%;
//     right: 100%;
//     margin-top: 10px;
//     border-width: 20px;
//     border-style: solid;
//     border-color: transparent #ffffff transparent transparent;
// }

.skill-box {
    width: 100px;
    height: 100px;
    @include flex(column, $ai: center);
    color: var(--color-main);
    div {
        width: 64px;
        height: 64px;
        transition: all 125ms ease-in-out;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    span {
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        font-size: 18px;
        color: var(--text-base);
        transition: color 125ms ease-in-out;
    }
    &:hover {
        div {
            transform: scale(1.08);
        }
        span {
            color: var(--color-main);
        }
    }
    // &:hover + .infobox {
    //     opacity: 1;
    // }
}

.skill-box {
    opacity: 0;
    transform: translateX(-32px);
    transition: all 500ms ease-out;
    transition-delay: 0.48s;
}

.in-view {
    opacity: 1;
    transform: translateX(0);
}

.svg-circle {
    transform-origin: center;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(-360deg);}
}

@media (max-width: 1500px) {
    .technologies {
        max-width: 520px;
    }
}

@media (max-width: 1200px) {
    .content {
        @include flex(column, center);
    }
    .skill-set {
        max-width: 520px;
        gap: 16px;
    }
}

@media (max-width: 476px) {
    .skill-set {
        padding: 16px;
        gap: 12px;
    }
    .technologies {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 120px;
        gap: 16px;
    }
    
}