div {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    color: var(--text-base);
    img {
        width: auto;
        height: 64px;
        transition: all 125ms ease-in-out;
    }
    span {
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        font-size: 18px;
        
    }
    &:hover {
        img {
            transform: scale(1.08);
        }   
    }
}