.navarrow {
    width: 128px;
    height: 64px;
    position: absolute;
    right: 64px;
    top: 50%;
    border-radius: 12px;
    color: var(--color-main);
    cursor: pointer;
    &:hover {
        filter: url(#glow-shadow);
    }
    svg {
        width: 100%;
        height: 100%;
    }
}