button {
    padding: 16px 28px;
    font-size: 20px;
    color: var(--text-base);
    border-radius: 28px;
    border: 2px solid var(--text-base);
    background-color: transparent;
    transition: all 125ms ease-in-out;
    &:hover {
        color: var(--color-main);
        border-color: var(--color-main);
    }
    &:disabled {
        color: var(--text-disabled-main);
        background-color: var(--color-disabled);
        box-shadow: none;
        cursor: default;
    }
}