@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
    background: url('/imgs/Background_1.svg');
    background-size: cover;
}

.content {
    width: 100%;
    min-height: calc(100vh - 200px);
    flex: 1;
    padding-top: 180px;
    @include flex(column);
    >h2 {
        width: 100%;
        color: var(--color-main);
        text-align: center;
    }
    >h3 {
        margin-bottom: 8px;
        color: var(--color-main);
    }
    >p, >ul, >h2 {
        margin-bottom: 40px;
    }
    li::marker {
        color: var(--color-main);
    }
    ul {
        padding-left: 16px;
    }
}

@media (max-width: 800px) {
    .content {
        padding-top: 100px;
        >h2 {
            text-align: start;
        }
        >h2, >p, >ul {
            margin-bottom: 24px;
        }
    }
}