<section>
    <div class="content-limit">
        <div class="content">
            <h2>{{"LEGALNOTICE.TITLE" | translate}}</h2>
            <h3>{{"LEGALNOTICE.T1" | translate}}</h3>
            <ul>
                <li>Alexander Putilin</li>
                <li>Fürstenweg 1</li>
                <li>29693 Ahlden</li>
                <li>alexander.putilin&#64;yahoo.de</li>
            </ul>

            <h3>{{"LEGALNOTICE.T3" | translate}}</h3>
            <p>{{"LEGALNOTICE.P3" | translate}}</p>

            <h3>{{"LEGALNOTICE.T4" | translate}}</h3>
            <p>{{"LEGALNOTICE.P4" | translate}}</p>

            <h3>{{"LEGALNOTICE.T5" | translate}}</h3>
            <p>{{"LEGALNOTICE.P5" | translate}}</p>

            <h3>{{"LEGALNOTICE.T6" | translate}}</h3>
            <p>{{"LEGALNOTICE.P6" | translate}}</p>

            <h3>{{"LEGALNOTICE.T7" | translate}}</h3>
            <p>{{"LEGALNOTICE.P7" | translate}}</p>

            <h3>{{"LEGALNOTICE.T8" | translate}}</h3>
            <p>{{"LEGALNOTICE.P8" | translate}}</p>
            <p>{{"LEGALNOTICE.EMAIL_INFO" | translate}}</p>
            <p>{{"LEGALNOTICE.DATE" | translate}}</p>
        </div>
    </div>
</section>