@use '../../styles.scss' as *;

section {
    background-image: url('/imgs/hero-background.jpg');
    background-size: cover;
    @include flex($jc: center, $ai: center);
    >div {
        height: 100%;
        @include flex(column, center, end);
    }
}

h1 {
    font-size: 96px;
    color: var(--color-main);
}

h2 {
    width: 100%;
    font-size: 72px;
    color: transparent;
    text-align: right;
    -webkit-text-stroke: 3px var(--color-main);
    // text-shadow: -2px -2px 0 var(--color-main), 2px -2px 0 var(--color-main), -2px 2px 0 var(--color-main), 2px 2px 0 var(--color-main);
}