@use '../../styles.scss' as *;

section {
    width: 100%;
    height: 100%;
    background-image: url('/imgs/hero-background.jpg');
    background-size: cover;
    @include flex(column, center, center);
    >header {
        width: 100%;
        padding: 32px 64px;
        @include flex(row, center, end);
    }
    >div {
        flex: 1;
        padding-block: 156px;
        @include flex(column, center, end);
    }
}

h1 {
    font-size: 96px;
    color: var(--color-main);
}

h2 {
    width: 100%;
    font-size: 72px;
    color: transparent;
    text-align: right;
    -webkit-text-stroke: 2px var(--color-main);
    // text-shadow: -2px -2px 0 var(--color-main), 2px -2px 0 var(--color-main), -2px 2px 0 var(--color-main), 2px 2px 0 var(--color-main);
}