@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    position: relative;
    display: flex;
    justify-content: center;
    background: url('/imgs/Background_1.svg');
    background-size: cover;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100vh;
    @include flex($jc: center, $ai: center);
    .hero {
        @include flex(column, center, center);
        flex: 1;
        >div {
            margin-top: 56px;
            @include flex($gap: 56px);
        }
    }
    >:nth-child(1) {
        height: 100%;
        @include flex(column, center, end, 32px);
        >span {
            width: 2px;
            height: 25%;
            background-color: var(--color-main);
        };
    }
    >:nth-child(3) {
        height: 100%;
        @include flex(column, center, end, 32px);
        nav {
            @include flex(column, $gap: 16px);
        }
        >span {
            width: 2px;
            height: 25%;
            background-color: var(--color-main);
            transform: translateX(-8px)
        };
    }
}

.scroll-widget {
    width: 40px;
    height: 64px;
    @include flex($jc: center, $ai: center);
    border-radius: 20px;
    border: 2px solid var(--color-main);
    color: var(--text-base);
    background-color: transparent;
    >.icon-wrapper {
        width: 16px;
        height: 24px;
        animation: bounce 1s linear infinite;
    }
}

@keyframes bounce {
    0% {transform: translateY(-4px)}
    50% {transform: translateY(4px)}
    100% {transform: translateY(-4px)}
}

@media (max-width: 768px) {
    .content {
        position: relative;
        .hero {
            >div {
                margin-top: 40px;
                @include flex($gap: 16px);
            }
        }
        >:nth-child(1) {
            position: absolute;
            left: 0;
            gap: 16px;
            >span {
                width: 2px;
                height: 15%;
                background-color: var(--color-main);
            };
        }
        >:nth-child(3) {
            position: absolute;
            left: 100%;
            transform: translateX(-40px);
            gap: 16px;
            nav {
                @include flex(column, $gap: 8px);
            }
            >span {
                width: 2px;
                height: 15%;
            };
        }
    }
    .scroll-widget {
        width: 28px;
        height: 40px;
        >.icon-wrapper {
            width: 12px;
            height: 16px;
        }
    }
    .icon-wrapper {
        width: 28px;
        height: 28px;   
    }
}