a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--color-main);
    text-decoration: none;
    transition: color 125ms ease-in-out;
    cursor: pointer;
    >span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--color-main);
        opacity: 0;
        transition: opacity 125ms ease-in-out;
    }
    &:hover {
        color: var(--text-base);
        >span {
            opacity: 1;
        }
    }
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    svg {   
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .icon-wrapper {
        width: 28px;
        height: 28px;   
    }
}