.navarrow {
    width: 100px;
    height: 64px;
    position: absolute;
    right: 64px;
    top: 50%;
    border-radius: 12px;
    color: var(--color-main);
    transition: transform 125ms ease-in-out;
    cursor: pointer;
    &:hover {
        filter: url(#glow-shadow);
        transform: translateX(10px);
    }
    svg {
        width: 100%;
        height: 100%;
    }
}