<div class="navarrow" (click)="next.emit()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 32" aria-hidden="true">
    <defs>
        <filter id="glow-shadow" x="-50%" y="-50%" width="200%" height="200%">
            <feDropShadow dx="0" dy="0" stdDeviation="12" flood-color="currentColor" />
        </filter>
    </defs>
    <line x1="0"  y1="50%" x2="48" y2="50%" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <line x1="34" y1="8"  x2="48" y2="50%" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <line x1="34" y1="24" x2="48" y2="50%" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</div>