@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    padding-block: 100px;
    > div {
        width: 100%;
        height: 100%;
        padding-top: 32px;
        @include flex($ai: stretch, $gap: 64px);
    }
}

.icon-wrapper {
    width: 28px;
    height: 28px;
    display: inline-block;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
    >svg {
        width: 100%;
        height: 100%;
    }
}

.preview {
    width: 100%;
    height: 200px;
    position: relative;
    display: none;
    transition: all 125ms ease-in-out;
    .preview-bg {
        height: 200px;
        width: 100%;
        position: absolute;
        border-radius: 24px;
        background: url('/imgs/Shadow-Lines.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(20px, 20px);
        z-index: -1;
    }
    >img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 24px;
        object-fit: cover;
        object-position: left;
    }
}

.img-wrapper {
    >img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.preview-container {
    min-width: 350px;
    @include flex(column, center, end);
}

.project-list {
    width: 100%;
    @include flex(column);
    >:first-child {
        border-block: 2px solid var(--color-main);
    }
    >:last-child {
        border-block: 2px solid var(--color-main);
    }
    a {
        width: 100%;
        text-decoration: none;
        color: var(--text-main);
    }
}

.project-list-element {
    width: 100%;
    height: 120px;
    padding-inline: 32px;
    @include flex($ai: center, $jc: space-between);
    transition: all 125ms ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: var(--color-secondary-active);
        .icon-wrapper {
            opacity: 1;
        }
    }
    >:first-child {
        @include flex($ai: center, $gap: 8px);
        font-size: 28px;
        font-weight: bold;
    }
    >:last-child {
        @include flex($ai: center);
        font-size: 20px;
    }
}

.seperator {
    width: 1px;
    height: 20px;
    margin-inline: 8px;
    display: inline-block;
    background-color: var(--color-main);
}

.show {display: block}
.align-start {justify-content: start !important}
.align-center {justify-content: center !important}
.align-end {justify-content: end !important}


@media (max-width: 1200px) {
    .preview-container {min-width: 300px}
    .content > div {gap: 32px}
}

@media (max-width: 992px) {
    .preview-container {display: none;}
}

@media (max-width: 768px) {
    .project-list-element {
        height: 100px;
        padding-inline: 16px;
        >:first-child {font-size: 28px}
        >:last-child {font-size: 16px}
    }
}

@media (max-width: 576px) {
    .content {padding-bottom: 0px}
    .project-list-element {
        height: 100px;
        padding-inline: 16px;
        @include flex(column, start, center, 8px);
        >:first-child {font-size: 24px}
    }
}

@media (max-width: 476px) {
    .project-list-element {
        padding-inline: 8px;
        >:last-child {font-size: 14px}
    }
}