@use '../../../styles.scss' as *;

.overlay {
    width: 100%;
    height: 100vh;
    padding-inline: min(64px, 5%);
    position: fixed;
    left: 0;
    top: 0;
    @include flex($ai: center, $jc: center);
    background-color: #00000050;
    z-index: 1000;
}

.modal {
    width: 100%;
    max-width: 1440px;
    height: 760px;
    padding: 64px;
    border-radius: 32px;
    border: 2px solid var(--color-main);
    background: url('/imgs/Background_1.svg');
    background-size: cover;
}

.modal-layout {
    width: 100%;
    height: 100%;
    @include flex(column, $gap: 24px);
    .content {
        @include flex($ai: center, $gap: 40px);
        flex: 1;
        .info {
            height: 100%;
            flex: 1;
            @include flex(column, $gap: 24px);
            >p {
                flex: 1;
            }
            >.title-wrapper {
                @include flex(column);
                >h1 {
                    color: var(--color-main);
                }
            }
            >h3 {
                color: var(--color-main);
            }
            >div {
                width: 100%;
                @include flex($gap: 24px);
                flex-wrap: wrap;
            }
        }
        .img-wrapper {
            height: 320px;
            flex: 1;
            border-radius: 32px;
            overflow: hidden;
            >img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: left top;
            }
        }
    }
}

.btn-close {
    align-self: end;
    background: none;
    border: none;
    color: var(--text-base);
    transition: color 125ms ease-in-out;
    &:hover {
        color: var(--color-main);
        >.icon {
            transform: scale(1.2);
        }
    }
}

.btn-next {
    @include flex($ai: center);
    align-self: end;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-base);
    transition: color 125ms ease-in-out;
    &:hover {
        color: var(--color-main);
        >.icon {
            transform: translateX(5px);
        }
    }
}

.tech-label {
    @include flex($ai: center, $gap: 8px);
    img {
        width: 32px;
        height: 32px;
    }
}

.icon {
    width: 32px;
    height: 32px;
    color: inherit;
    transition: all 125ms ease-in-out;
    >svg {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .overlay {
        padding: 0;
    }
    .modal {
        height: 100%;
    }
    .modal-layout {
        align-items: center;
        .content {
            width: 100%;
            @include flex(column-reverse, $gap: 24px);
            flex: 1;
            >.info {
                flex: 1;
                width: 100%;
                >.btn-container {
                    justify-content: center;
                }
                >.title-wrapper {
                    @include flex(row, center, start, 16px);
                    >h1, h2 {
                        font-size: 64px;
                    }
                }
            }
            .img-wrapper {
                flex-grow: auto;
                width: 100%;
            }
        }
    }
}

@media (max-width: 992px) {
    .modal {
        padding: 32px;
    }
}

@media (max-height: 992px) {
    .overlay {
        padding: 0;
    }
    .modal {
        height: 100%;
        padding: 24px;
    }
    .modal-layout {
        gap: 16px;
        .content {
            >.info {
                gap: 16px;
                >.title-wrapper {
                    @include flex(row, center, start, 16px);
                    >h1, h2 {
                        font-size: 48px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .modal-layout {
        .content {
            >.info {
                >.title-wrapper {
                    @include flex(row, center, start, 16px);
                    >h1, h2 {
                        font-size: 48px;
                    }
                }
            }
        }
    }
}

@media (max-width: 476px) {
    .modal {
        padding: 24px;
    }
    .modal-layout {
        gap: 16px;
        .content {
            gap: 24px;
            >.info {
                gap: 16px;
                >.title-wrapper {
                    @include flex(row, center, start, 16px);
                    >h1, h2 {
                        font-size: 32px;
                    }
                }
                .techs {
                    gap: 8px;
                }
            }
        }
    }
    .img-wrapper {
        max-height: 200px;
    }
    .icon {
        width: 24px;
        height: 24px;
    }
    .tech-label {
        span {
            font-size: 16px;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .modal-layout {
        .content {
            @include flex(row, $gap: 24px);
        }
    }
}

@media (orientation: landscape) and (max-height: 1200px) {

}

@media (orientation: landscape) and (max-height: 768px) {
    .modal {
        padding: 16px;
    }
    .modal-layout {
        gap: 8px;
        .content {
            gap: 16px;
            .info {
                gap: 12px;
                >p {
                    font-size: 16px;
                }
                >.title-wrapper {
                    >h1, h2 {
                        font-size: 48px;
                    }
                }
                >h3 {
                    font-size: 24px;
                }
                >div {
                    gap: 12px;
                    justify-content: start;
                }
            }
            .img-wrapper {
                align-self: center;
            }
        }
    }
}

@media (orientation: landscape) and (max-height: 476px) {
    .modal {
        padding: 12px;
    }
    .modal-layout {
        gap: 8px;
        .content {
            gap: 16px;
            .info {
                gap: 12px;
                >p {
                    font-size: 16px;
                }
                >.title-wrapper {
                    >h1, h2 {
                        font-size: 40px;
                    }
                }
                >h3 {
                    font-size: 20px;
                }
            }
            .img-wrapper {
                height: 240px;
            }
        }
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .tech-label {
        span {
            font-size: 16px;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}