@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    margin-bottom: 160px;
    @include flex(column, center, center);
    >p {text-align: center;}
}

.diashow-frame {
    width: 100%;
    height: 400px;
    position: relative;
    // overflow-x: hidden;
}

.diashow-frame::before,
.diashow-frame::after {
    width: min(200px, 10%);
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    content: "";
}

.diashow-frame::before {
  left: 0;
  background: linear-gradient(to right, var(--color-bg), transparent);
  z-index: 1px;
}

.diashow-frame::after {
  right: 0;
  background: linear-gradient(to left, var(--color-bg), transparent);
}

.diashow {
    width: 100%;
    height: 100%;
    padding-block: 32px;
    overflow-x: auto;
    @include flex($gap: 64px);
}

.diashow::-webkit-scrollbar {
    display: none;
}

.review-box {
    z-index: -1;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 48px;
    position: relative;
    @include flex(column, center, space-between);
    border-radius: 24px;
    border: 2px solid var(--color-main);
    background-color: var(--color-secondary-passive);
    flex-shrink: 0;
    font-size: 24px;
    transform: scale(0.95);
    >p {font-size: 24px;}
    >div {
        width: 100%;
        @include flex($ai: center, $gap: 16px);
        >.line {
            height: 2px;
            flex: 1;
            background-color: var(--text-base);
        }
    }
    .quotes {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        translate: 0% -50%;
        opacity: 0;
        transition: 0.2s opacity ease-in-out;
    }
}

.preview-active {
    background-color: var(--color-secondary-active);
    transform: scale(1);
    .quotes {
        opacity: 1;
    }
}

nav {
    width: 100%;
    height: 64px;
    @include flex($ai: center, $jc: center, $gap: 24px);
}

.index-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--text-base);
    transition: all 125ms ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: var(--color-main);
        transform: scale(1.4);
    }
}

.index-dot-active {
    background-color: var(--color-main);
    transform: scale(1.4);
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: color 125ms ease-in-out;
    >svg {
        width: 100%;
        height: 100%;
    }
    &:hover {
        color: var(--color-main);
    }
}

@media (max-width: 992px) {
    .content {
        margin-bottom: 64px;
    }
    .diashow {
        gap: 32px;
    }
    .review-box {
        max-width: 500px;
        padding: 32px;
        font-size: 20px;
        >p {font-size: 20px;}
        .quotes {
            width: 56px;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .diashow-frame::after,
    .diashow-frame::before {
        width: 32px;
    }
}

@media (max-width: 576px) {
    .diashow-frame {
        height: 350px;
    }
    .diashow-frame::after,
    .diashow-frame::before {
        display: none;
    }
    .diashow {
        padding-block: 16px;
    }
    .review-box {
        padding: 24px;
        >p {
            height: 100%;
            align-content: center;
        }
    }
}

@media (max-width: 350px) {
    .review-box {
        font-size: 16px;
        >p {font-size: 16px;}
    }
}