<div class="banner-wrapper">
    <div class="banner">
        <div class="carousel">
            <div class="group">
                <span>Open to work</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>Remote available</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>Web Developer</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>Based in Hanover</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
            </div>
            <div class="group">
                <span>Open to work</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>Remote available</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>Web Developer</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>Based in Hanover</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
            </div>
        </div>
    </div>
</div>