.banner-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: end;
    position: absolute;
    left: -2px;
    bottom: 0px;
    overflow: hidden;
}

.banner {
    width: 102%;
    padding-block: 16px;
    background: #f6f6f61c;
    backdrop-filter: blur(4px);
    transform: translateY(-64px) rotate(-2deg);
    display: flex;
    justify-content: center;
}

.carousel {
    max-width: 1920px;
    display: flex;
    overflow: hidden;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 10s linear infinite;
    will-change: transform;
    > span {
        flex: 0 0 280px;
        font-size: 32px;
        text-align: center;
        color: var(--color-main);
    }
}

.dot-wrapper {
    display: flex;
    justify-content: center;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-main);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .banner {
        padding-block: 8px;
        transform: translateY(-44px) rotate(-2deg);
    }
    .group {
        > span {
            flex: 0 0 200px;
            font-size: 24px;
        }
    }
    .dot {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 476px) {
    .group {
        > span {
            flex: 0 0 140px;
            font-size: 16px;
        }
    }
    .dot {
        width: 8px;
        height: 8px;
    }
}