<div class="banner-wrapper">
    <div class="banner">
        <div class="carousel">
            <div class="group">
                <span>{{'HERO.BANNER.LABEL_1' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>{{'HERO.BANNER.LABEL_2' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>{{'HERO.BANNER.LABEL_3' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>{{'HERO.BANNER.LABEL_4' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
            </div>
            <div class="group">
                <span>{{'HERO.BANNER.LABEL_1' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>{{'HERO.BANNER.LABEL_2' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>{{'HERO.BANNER.LABEL_3' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
                <span>{{'HERO.BANNER.LABEL_4' | translate}}</span>
                <span class="dot-wrapper">
                    <div class="dot"></div>
                </span>
            </div>
        </div>
    </div>
</div>