@use 'styles/fonts.scss';

:root {
    --color-main: #E8B91B;
    --color-secondary-active: rgba(232, 185, 27, 0.7);
    --color-secondary-passive: rgba(232, 185, 27, 0.3);
    --color-disabled: #827B7B;
    --color-error: #C56A6A;
    --color-bg: #1C1C1C;
    --text-base: #FFFFFF;
    --text-dark: #1F1F1F;
    --gradient: linear-gradient(#1C1C1C, #FFCA1B);
}

@mixin flex($dir: row, $ai: start, $jc: start, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    align-items: $ai;
    justify-content: $jc;
    gap: $gap;
}

* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', 'Segoe UI', sans-serif;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100vh;
    color: var(--text-base);
    background-color: var(--color-bg);
    user-select: none;
}

button, a {
    cursor: pointer;
}

// p {
//     width: 100%;
//     font-size: 24px;
//     color: var(--text-base);
// }


