@use 'styles/fonts.scss';

:root {
    --color-main: #B5E93B;
    --color-secondary: #D3ED97;
    --color-disabled: #9E9D9D;
    --color-error: #FD2E12;
    --bg-base: #000000;
    --bg-card: #b5e93b80;
    --text-base: #FFFDFD;
    --text-dark: #1F1F1F;
    --text-disabled-main: #4A4A4A; 
    --text-disabled-outline: #827B7B;
    --text-shadow: -0.1px -0.1px 0 var(--color-main);
    --border-disabled: #827B7B;
}

@mixin flex($dir: row, $ai: start, $jc: start, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    align-items: $ai;
    justify-content: $jc;
    gap: $gap;
}

* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quantico', 'Segoe UI', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-base);
    user-select: none;
}

button, a {
    cursor: pointer;
}

p {
    width: 100%;
    font-size: 24px;
    color: var(--text-base);
}

section {
    width: 100vw;
    height: 100%;
    padding-block: 156px;
    padding-inline: 264px 64px;
    position: relative;
    @include flex();
}


