@use 'styles/fonts.scss';

:root {
    --color-main: #E8B91B;
    --color-secondary-active: rgba(232, 185, 27, 0.502);
    --color-secondary-passive: rgba(232, 185, 27, 0.2);
    --color-disabled: #827B7B;
    --color-error: #C56A6A;
    --color-bg: #1C1C1C;
    --text-base: #e3e3e3;
    --text-hover: #FFFFFF;
    --text-dark: #1F1F1F;
    --gradient: linear-gradient(#1C1C1C, #FFCA1B);
}

@mixin flex($dir: row, $ai: start, $jc: start, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    align-items: $ai;
    justify-content: $jc;
    gap: $gap;
}

* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', 'Segoe UI', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100vh;
    color: var(--text-base);
    background-color: var(--color-bg);
    user-select: none;
}

button, a {
    cursor: pointer;
}

.content-limit {
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

h1 {
    font-size: 120px;
    text-align: center;
}

h2 {
    font-size: 56px;
    font-family: 'Fira Code', 'Segoe UI', sans-serif;
    text-align: center;
}

h3 {
    font-size: 32px;
}

.categorie {
    font-size: 64px;
    font-family: 'Fira Code', 'Segoe UI', sans-serif;
    color: var(--color-main);
}

.subtitle {
    margin-bottom: 24px;
    font-size: 32px;
    color: var(--color-main);
}


p {
    width: 100%;
    font-size: 20px;
}


@media (max-width: 1500px) {
    h1 {font-size: 92px}
    h2 {font-size: 48px}
}

// @media (max-width: 1200px) {
    
// }

@media (max-width: 992px) {
    h1 {font-size: 72px}
    h2 {font-size: 40px}
    h3 {font-size: 28px}
}

@media (max-width: 768px) {
    h1 {font-size: 56px}
    h2 {font-size: 32px}
    h3 {font-size: 20px}
    .categorie {font-size: 48px}
    .subtitle {margin-bottom: 16px}
}

@media (max-width: 576px) {
    h1 {font-size: 48px}
    h2 {font-size: 28px}
    p {font-size: 16px}
    .categorie {font-size: 32px}
    .subtitle {
        font-size: 24px;
    }
}

@media (max-width: 476px) {
    h1 {font-size: 32px}
    h2 {font-size: 20px}
    h3 {font-size: 16px}
    .subtitle {font-size: 24px}
}