@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    height: 100vh;
    width: 100%;
    padding-block: 100px;
    @include flex($jc: space-between, $ai: center);
}

.profile {
    width: 640px;
    height: 640px;
    align-self: start;
    background: url('/imgs/Shadow-Lines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 32px;
    >.img-wrapper {
        width: 640px;
        height: 640px;
        border-radius: 32px;
        background-color: #2a2a2a;
        overflow: hidden;
        transition: all 125ms ease-in-out;
        >img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.about-me {
    width: 640px;
    height: 640px;
    padding: 24px;
    @include flex(column, $gap: 24px);
    border-radius: 32px;
    border: 2px solid var(--color-main);
    background-color: var(--color-secondary-passive);
    transition: all 125ms ease-in-out;
    >div {
        @include flex($gap: 16px);
        p {
            transition: color 125ms ease-in-out;
        }
        &:hover p {
            color: var(--text-hover);
        }
    }
    .icon-wrapper {
        width: 32px;
        height: 32px;
        > svg {
            width: 100%;
            height: 100%;
        }
    } 
}

.profile {
    opacity: 0;
    transform: translateX(-64px);
    transition: all 500ms ease-out;
}

.about-me-wrapper {
    align-self: end;
    opacity: 0;
    transform: translateX(64px);
    transition: all 500ms ease-out;
    transition-delay: 500ms;
}

.in-view {
    opacity: 1;
    transform: translateX(0);
}


@media (max-width: 1500px) {
    .profile {
        width: 520px;
        height: 520px;
        >.img-wrapper {
            width: 520px;
            height: 520px;
        }
    }
    .about-me {
        width: 520px;
        height: auto;
        gap: 16px;
    }
}

@media (max-width: 1200px) {
    .content {
        height: auto;
        @include flex(column, center, start, 40px);
    }
    .profile {align-self: center}
    .about-me-wrapper {align-self: center}
}

@media (max-width: 576px) {
    .content {padding-bottom: 0px}
    .profile {
        width: 100%;
        height: auto;
        >.img-wrapper {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }
    .about-me {
        width: 100%;
        height: auto;
        gap: 16px;
    }
     
}

@media (max-width: 476px) {
    .about-me {
        padding: 16px;
        >div {
            @include flex($gap: 12px)
        }
    }
    
}