<section>
    <div>
        <h2>Why me</h2>
        <div>
            <p>
                I’m a structured and detail-oriented web developer in training with a strong passion for creating meaningful and user-focused applications. 
                I enjoy turning ideas into real projects and continuously improving my skills through hands-on learning. <br><br>
                I’m especially interested in building modern web solutions and exploring new technologies that help solve real problems. 
                If you’re looking for someone who’s curious, reliable, and motivated to grow with every challenge — I’m the right person to work with.
            </p>
            <div>
                <h3>I am</h3>
                <div>
                    <div class="info-box">
                        <div class="icon-wrapper">
                            <img class="icon" src="/icons/location.png">
                            <img class="icon-hover" src="/icons/location-hover.png">
                        </div>
                        <span>located in Hannover</span>
                    </div>
                    <div class="info-box">
                        <div class="icon-wrapper">
                            <img class="icon" src="/icons/remote.png">
                            <img class="icon-hover" src="/icons/remote-hover.png">
                        </div>
                        <span>open to work remote</span>
                    </div>
                    <div class="info-box">
                        <div class="icon-wrapper">
                            <img class="icon" src="/icons/relocate.png">
                            <img class="icon-hover" src="/icons/relocate-hover.png">
                        </div>
                        <span>open to relocate</span>
                    </div>
                </div>
            </div>
            <app-button>Contact me</app-button>
        </div>
    </div>
    <app-navarrow posTop="75%" (next)="nextSection.emit()"></app-navarrow>
</section>