@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
}

.content {
    height: 100vh;
    width: 100%;
    @include flex($jc: space-between, $ai: center);
    >div {
        height: 100%;
        padding-block: 160px;
    }
    >:nth-child(1) {
        @include flex($ai: start)
    }
    >:nth-child(2) {
        @include flex(column, start, end);
    }
}

.profile {
    width: 640px;
    height: 640px;
    background: url('/imgs/Shadow-Lines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 32px;
    >.img-wrapper {
        width: 640px;
        height: 640px;
        border-radius: 32px;
        background-color: #2a2a2a;
        overflow: hidden;
        transition: all 125ms ease-in-out;
        >img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

.about-me-wrapper > p {
    margin-bottom: 24px;
    font-size: 32px;
    color: var(--color-main);
}

.about-me {
    width: 640px;
    height: 640px;
    padding: 24px;
    @include flex(column, $gap: 24px);
    border-radius: 32px;
    border: 2px solid var(--color-main);
    background-color: var(--color-secondary-passive);
    transition: all 125ms ease-in-out;
    >div {
        @include flex($gap: 16px);
        p {
            transition: color 125ms ease-in-out;
        }
        &:hover p {
            color: var(--text-hover);
        }
    }
    .icon-wrapper {
        width: 32px;
        height: 32px;
        > svg {
            width: 100%;
            height: 100%;
        }
    } 
}

.profile {
    opacity: 0;
    transform: translateX(-64px);
    transition: all 500ms ease-out;
}

.about-me-wrapper {
    opacity: 0;
    transform: translateX(64px);
    transition: all 500ms ease-out;
    transition-delay: 500ms;
}

.in-view {
    opacity: 1;
    transform: translateX(0);
}


@media (max-width: 1500px) {
    .content {
        >div {
            padding-bottom: 100px;
        }
    }
    .profile {
        width: 520px;
        height: 520px;
        >.img-wrapper {
            width: 520px;
            height: 520px;
        }
    }
    
    .about-me {
        width: 520px;
        height: auto;
        gap: 16px;
    }
}

@media (max-width: 1200px) {
    .content {
        height: auto;
        @include flex(column, center, start, 40px);
        padding-block: 160px;
        >div {
            padding-block: 0px;
        }
    }
}

@media (max-width: 768px) {
    .profile {
        width: 480px;
        height: 480px;
        >.img-wrapper {
            width: 480px;
            height: 480px;
        }
    }
    .about-me {
        width: 480px;
        .icon-wrapper {
            width: 24px;
            height: 24px;
        }
    }
     
}

@media (max-width: 576px) {
    .profile {
        width: 100%;
        height: auto;
        >.img-wrapper {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }
    .about-me {
        width: 100%;
        height: auto;
        gap: 16px;
    }
     
}

@media (max-width: 476px) {
    .profile {
        >.img-wrapper {
        border-radius: 16px;
        }
    }
    .about-me {
        padding: 8px;
        border-radius: 16px;
        >div {
            @include flex($gap: 12px)
        }
    }
    
}