<section>
    <div class="content-limit">
        <div class="content">
            <h2>{{"PRIVACY.TITLE" | translate}}</h2>

            <h3>{{"PRIVACY.T1" | translate}}</h3>
            <p>{{"PRIVACY.P1" | translate}}</p>

            <h3>{{"PRIVACY.T2" | translate}}</h3>
            <p>{{"PRIVACY.P2" | translate}}</p>

            <h3>{{"PRIVACY.T3" | translate}}</h3>
            <p>{{"PRIVACY.P3" | translate}}</p>

            <h3>{{"PRIVACY.T4" | translate}}</h3>
            <p>{{"PRIVACY.P4" | translate}}</p>

            <h3>{{"PRIVACY.T5" | translate}}</h3>
            <p>{{"PRIVACY.P5" | translate}}</p>

            <h3>{{"PRIVACY.T6" | translate}}</h3>
            <p>{{"PRIVACY.P6" | translate}}</p>
        </div>
    </div>
</section>
