<section>
    <div class="content-limit">
        <div class="content">
            <h2>Privacy Policy</h2>
            <h3>General information</h3>
            <p>
                Protecting your personal data is very important to me.
                I treat personal data confidentially and in accordance with the statutory data protection regulations (DSGVO) and this privacy policy.
            </p>

            <h3>Collection and processing of personal data</h3>
            <p>
                This website can generally be visited without providing any personal data.
                Personal data is only collected if you voluntarily provide it to me.
            </p>

            <h3>Contact form</h3>
            <p>
                When you contact me via the contact form, the information you provide (e.g., name, email address, and message) will be stored to process your request and for any follow-up questions.
                Legal basis:
                Art. 6 para. 1 lit. b DSGVO (Processing your request)
                The data will not be shared with third parties and will only be stored for as long as necessary to process your request.
            </p>

            <h3>Cookies</h3>
            <p>
                This website does not use cookies that store personal data or are used for analysis or marketing purposes.
            </p>

            <h3>Your Rights</h3>
            <p>
                You have the right to access your stored personal data at any time, including information about their origin, recipient, and the purpose of processing. 
                You also have the right to rectify, restrict, transfer, withdraw, or delete this data. 
                If you believe that the processing of your data violates data protection law, you can file a complaint with the relevant supervisory authority.
            </p>

            <h3>Changes to this privacy policy</h3>
            <p>
                I reserve the right to amend this privacy policy to adapt it to current legal requirements or changes to the website.
            </p>
        </div>
    </div>
</section>
