@use '../../styles.scss' as *;

section {
    width: 100%;
    padding-inline: min(64px, 5%);
    display: flex;
    justify-content: center;
    background: url('/imgs/Background_1.svg');
    background-size: cover;
}

.content {
    width: 100%;
    min-height: calc(100vh - 200px);
    flex: 1;
    padding-top: 180px;
    @include flex(column);
    >h2 {
        margin-bottom: 40px;
    }
    >h3 {
        margin-bottom: 8px;
    }
    >p {
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .content {
        padding-top: 100px;
    }
}